.about-container {
  background-color: black;
}

.about {
  max-width: 75rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10.6rem;
  color: white;
  justify-items: start;
}

.about-title {
  margin-left: -0.12rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.about-subtitle {
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.about-text {
  margin-top: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.4;
}

.about-text a {
  color: rgb(82, 6, 121);
}

.about-text a:hover {
  color: rgb(123, 12, 178);
}

.about-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: flex-start;
  margin-top: 1.56rem;
  margin-left: -0.12rem;
}

.download-cv {
  background: rgb(62, 6, 90);
  color: white;
  padding: 0.62rem 1.25rem;
  margin-top: 3.12rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
}

.download-cv:hover {
  background: rgb(123, 12, 178);
}

@media (max-width: 480px) {
  .about {
    padding: 5rem;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-subtitle {
    font-size: 1rem;
  }

  .about-city {
    font-size: 1rem;
  }

  .about-text {
    font-size: 0.875rem;
  }

  .download-cv {
    font-size: 0.875rem;
  }
}
