.experience-container {
  background: #000000;
}

.experience {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 150px;
}

.experience .subtitle {
  color: rgb(2, 0, 36);
  line-break: anywhere;
  font-size: 8rem;
}

.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: rgb(2, 0, 36);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.company-year {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #a3a3a3;
  font-size: 0.875rem;
}

.company-title {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  color: white;
}

.company-text {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #a3a3a3;
}

.company-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.company-skills li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: black;
  color: #a3a3a3;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 50px 20px;
  }

  .experience .subtitle {
    color: #141414;
    font-size: 2rem;
    text-align: center;
  }

  .experience-text {
    font-size: 1.25rem;
  }

  .company-year {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .company {
    grid-template-columns: 1fr;
  }
}
