.intro-container {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(84, 11, 122, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: 0.62rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.62rem;
}

.menu a {
  font-size: 1rem;
  line-height: 1.3;
  padding: 0.62rem 1.25rem;
  color: white;
  display: block;
  border-radius: 0.25rem;
}

.menu a:hover {
  background: rgba(0, 0, 0, 0.541) 35%;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  padding: 18.75rem 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hello-world {
  border-right: 1px solid white;
  color: white;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal both,
    typing 4s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 33em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 15.62rem 1.25rem;
  }

  .header {
    flex-direction: column;
  }

  .hello-world {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .intro {
    padding: 13.12rem 1rem;
  }

  .menu a {
    font-size: 0.9rem;
    line-height: 1;
    padding: 0.62rem 1.25rem;
    color: white;
    display: block;
  }

  .hello-world {
    font-size: 1rem;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 20em;
    }
  }
}

@media (max-width: 360px) {
  .menu a {
    font-size: 0.75rem;
    line-height: 0.5;
    padding: 0.62rem 1.25rem;
    color: white;
    display: block;
  }

  .hello-world {
    font-size: 0.75rem;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 14em;
    }
  }
}
